<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6"><h2><%= name %></h2>
					<%= streetAddress %><br/>
					<%= locality %>, <%= state %> <%= postalCode %>
				</div>
				<div class="col-md-6"><img src="http://maps.googleapis.com/maps/api/staticmap?size=200x200&zoom=14&sensor=true&markers=color:blue%7C<%= latitude %>,<%= longitude %>" alt="map" class="pull-right"></div>
			</div>
		</div>
		<!-- reviews go here. -->
		<% _.each(obj.reviews, function (review) { %>
			<%= review.comment %> - <%= review.reviewer %> <br/>
		<% }); %>
	</div>
	<div class="col-md-2"></div>
</div>

